.blog {
    margin: 1rem auto;
}

.blog_body {
    margin: 1rem;
}

.all_blogs {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.blog_item h3:hover {
    color: cadetblue;
}
